# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mysql.conf.d/

# 根据 https://imysql.com/my-cnf-wizard.html 生成的
[client]
port	= 3306
socket	= /data/mysql/mysql.sock

# 根据 https://imysql.com/my-cnf-wizard.html 生成的
[mysql]
prompt = "\u@mysqldb \R:\m:\s [\d]> "
no_auto_rehash
loose-skip-binary-as-hex

[mysqld]
# 基本配置
user=mysql
bind-address = 0.0.0.0 # 监听所有连接
port = 3306
default-storage-engine=INNODB # 默认引擎
character_set_server = UTF8MB4
default_time_zone = "+8:00"

# 磁力搜索的全文索引
innodb_ft_min_token_size=1 # 全文索引时 token 最少字符为一个, 也就是 'a' 也算做是
ft_min_word_len=1 # 全文索引中, 最短长度是 一个 a , "a car" 这样的完全匹配
ft_stopword_file = '' # 没有停顿词
innodb_ft_enable_stopword = 0

# 根据 https://imysql.com/my-cnf-wizard.html 生成的
# performance setttings
lock_wait_timeout = 3600
open_files_limit    = 65535
back_log = 1024
max_connections = 32
max_connect_errors = 1000000
table_open_cache = 64
table_definition_cache = 64
thread_stack = 512K
sort_buffer_size = 16M
join_buffer_size = 16M
read_buffer_size = 8M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
thread_cache_size = 48
interactive_timeout = 600
wait_timeout = 600
tmp_table_size = 96M
max_heap_table_size = 96M